h2 {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #70757a;
  list-style: none;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
}

.weather-app-wrapper {
  width: 650px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

.weather-app strong {
  color: #202124;
  line-height: 60px;
  font-size: 48px;
  font-weight: normal;
  vertical-align: top;
}

.units {
  vertical-align: top;
}

.windUnit {
  text-transform: lowercase;
}
